<div class="mx-4"><input class="form-control details-card text-center" type="text" #inp
        (keyup)="filterFormations(inp.value)" placeholder="Angular...🔍">
</div>



<div class="row g-3 mb-3 px-3">
    <div class="col-12 col-xl-3 col-md-4 col-sm-6" *ngFor="let formation of filteredFormations"
        (click)="navigateToFormation(formation.id.toString())" role="button">
        <div class="p-2 details-card h-100">
            <div class="rounded" style="overflow: hidden; display: inline-block;"><img [src]="formation.imageRefernce"
                    [alt]="formation.titre" class="w-100 rounded"></div>
            <h3>{{formation.titre}}</h3>
            <h6>{{formation.difficulte}} </h6>
            <h6>{{formation.description}}</h6>
            <h6>{{"Charge Horaire: "+formation.chargeHoraire}}</h6>
        </div>
    </div>
</div>
<div class="text-center" style="position: fixed;bottom: 20px;right: 20px;">
    <button class="btn btn-primary rounded-circle" (click)="togglePopUp()"
        style="width: 50px;height: 50px;padding: 0; font-size: 2rem;font-weight: 500;">+</button>
</div>
<div class="d-flex justify-content-center align-items-center vw-100 vh-100 fixed-top zindex-popover bg-dark"
    *ngIf="isDemanding" (click)="togglePopUp()" style="--bs-bg-opacity:0.6;backdrop-filter:blur(8px)">
    <div class=" p-4   rounded text-center details-card" style="width:clamp(300px , 60vw , 500px);"
        (click)="$event.stopPropagation()">
        <div class=" d-flex flex-column justify-content-center align-items-center">
            <h5 class=" mb-3">Demande Formation</h5>
            <input type="text" id="objet" #objet class="form-control mb-3 details-card" placeholder="Objet...">
            <textarea class="form-control mb-3 details-card" #desc name="description" id="description" cols="30"
                rows="5" placeholder="Description..."></textarea>
            <button class="btn btn-primary" (click)="addDemande(objet.value,desc.value)">Confirm Demande</button>
        </div>
    </div>
</div>


<!-- <table class="table table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Titre</th>
            <th>Description</th>
            <th>Charge Horaire</th>
            <th>Programme</th>
            <th>Difficulté</th>
            <th>Tags</th>
            <th>Categories</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let formation of filteredFormations" (click)="navigateToFormation(formation.id.toString())">
            <th>{{formation.id}}</th>
            <td> {{formation.titre}} </td>
            <td> {{formation.description}} </td>
            <td> {{formation.chargeHoraire}} </td>
            <td> {{formation.programme}} </td>
            <td> {{formation.difficulte}} </td>
            <td><ng-container *ngFor="let tag of formation.tags">{{tag}}</ng-container> </td>
            <td><ng-container *ngFor="let cat of formation.categorie">{{cat}}</ng-container></td>
        </tr>
    </tbody>
</table> -->