/* You can add global styles to this file, and also import other style files */
:root {
  --mainC: hsl(216, 100%, 61%);
  --secC: hsl(0, 0%, 95%);
}
@import "@ng-select/ng-select/themes/default.theme.css";

body {
  background-color: #eeeff5;
  font-family: "Montserrat" !important;
}
.row {
  margin: 0;
}
a {
  cursor: pointer;
}
textarea {
  resize: none;
}
.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
}
.details-card {
  background-color: #eeeff5;
  border-radius: 7px;
  box-shadow: inset -0.125em -0.125em 0.25em rgba(255, 255, 255, 0.7),
    inset 0.125em 0.125em 0.25em rgba(189, 200, 223, 0.7);
}
.details-card:focus {
  background-color: #eeeff5;
  border-color: transparent;
  box-shadow: inset -0.125em -0.125em 0.1em #396af1,
    inset 0.125em 0.125em 0.1em #a665f6;
}
.prevent-scroll {
  overflow: hidden;
}
.btn-primary {
  color: #151515;
  background: #eeeff5;
  border-radius: 7px;
  box-shadow: inset -0.125em -0.125em 0.25em rgba(255, 255, 255, 0.7),
    inset 0.125em 0.125em 0.25em rgba(189, 200, 223, 0.7);
  border-radius: 20px;
  transition: all 300ms;
  border: none;
}
.btn-primary:hover {
  color: white;
  box-shadow: none;
  background: linear-gradient(135deg, #396af1 10%, #a665f6 90%);
}
.btn-primary:disabled {
  color: #151515;
  background: #c5c6cb;
  border-radius: 7px;
  /* box-shadow: inset -0.125em -0.125em 0.25em rgba(255, 255, 255, 0.7),
    inset 0.125em 0.125em 0.25em rgba(189, 200, 223, 0.7); */
  border-radius: 20px;
  border: none;
}
/* .nav-link {
  color: white !important;
} */
.navbar-collapse {
  flex-grow: 0;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: var(--mainC);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: var(--mainC);
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
